<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="myCtrl">
<ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="user in users track by $index">
        姓名{{user.name}}
        年龄{{user.age}}
        性别
        {{user.gender=='1'?'男':'女'}}
        <button class="btn-danger btn pull-right btn-xs" ng-click="remove(user.id)">删除</button>
        <button class="btn btn-warning pull-right  btn-xs">修改</button>
        <input type="radio" ng-model="user.gender" value="1">男
        <input type="radio" ng-model="user.gender" value="0">女
    </li>
</ul>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script>
    //会先调用ngResource
    var app = angular.module('appModule',['ngResource']);
    app.factory('user',function ($resource) {
        return $resource('/users/:uid',null,{
            update:{method:'PUT'}
        })
    });
    app.controller('myCtrl',['$scope','user',function ($scope,user) {
        //查询所用用户列表
        $scope.users = user.query(); //返回的是一个promise对象
        $scope.remove = function (id) {
            //当调用删除后再执行的方法
            user.delete({uid:id}).$promise.then(function () {
                $scope.users = $scope.users.filter(function (item) {
                    return item.id != id;
                });
            });
            //后台删除一次 后台删除后再删除前台的
        }
    }]);
</script>
</body>
</html>