<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<table class="table table-bordered" data-ng-controller="cartCtrl">
    <tr>
        <th><input type="checkbox" ng-model="flag" ng-click="selectAll()">全选</th>
        <th>商品</th>
        <th>数量</th>
        <th>单价</th>
        <th>小计</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="product in carts">
        <td><input type="checkbox" ng-model="product.isSelected" ng-click="selectOne()"></td>
        <td>{{product.name}}</td>
        <td><input type="text" ng-model="product.count"></td>
        <td>{{product.price}}</td>
        <td>{{product.price*product.count}}</td>
        <!--                      product代表当前点击的那一条数据-->
        <td><button ng-click="del(product)" class="btn btn-danger btn-xs">删除</button></td>
    </tr>
    <!--
        btn颜色 btn-success 成功绿色
               btn-primary 蓝色
               btn-warning  黄色
               btn-danger  红色
               btn-default 灰色
               btn-lg 大按钮
               btn-xs 小按钮
    -->
    <tr>
        <td colspan="6">
            总价 {{sum()}}
            <!--只要页面上有一个数据发生变化，sum方法就会不停的执行-->
        </td>
    </tr>
</table>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('cartCtrl',function ($scope) {
        $scope.carts = [
            {name:'iphone 7 plus',price:7000,count:1,isSelected:true},
            {name:'iphone 6 plus',price:3666,count:1,isSelected:false},
            {name:'iphone 5s',price:2000,count:1,isSelected:true},
            {name:'iphone 4',price:50,count:1,isSelected:true},
        ];
        //测试当前点击状态
        $scope.selectAll = function () {
            //遍历每一个商品给isSelected赋值
            $scope.carts.forEach(function (item) {
                //如果为true 所有项目都为true
                item.isSelected = $scope.flag;
            });
        };
        //点击下面每一个checkbox时给予全选状态
        $scope.selectOne = function () {
            //find方法
            var pro = $scope.carts.find(function (item) {
                return !item.isSelected;//其中有一个商品为false
            }); //找到了pro说明应该为非全选状态
            $scope.flag = pro?false:true;
        };
        //求和的方法 他不是点击触发 而是不停的触发
        $scope.sum = function () {
            var total = 0;
            $scope.carts.forEach(function (item) {
                total += item.price*item.count;
            });
            return total;
        };
        //删除功能
        $scope.del = function (pro) {
            //拿到作用域上的所用商品，在所有商品中删除pro
            $scope.carts = $scope.carts.filter(function (item) {
                return item!=pro;
            });
            //filter不会导致原数组的变化
        };
    });


    // 删除功能，点击删除按钮删除当前的这条数据 filter
    // 全选全不选  点击全选按钮 如果按钮为true 全为true 或者全为false
    // 假设法 1.默认它为true 如果有一个为false 就为false 全为true才是true
    //       2.find方法
</script>
</body>
</html>